<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iictbeta2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IICT Cafe-beta"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AfterLoginActivity.CartActivity"></activity>
        <activity android:name=".SettingsRechargeActivities.RechargeActivity" />
        <activity android:name=".AccActivity.VerificationActivity" />
        <activity android:name=".AccActivity.ForgotPassActivity" />
        <activity android:name=".AfterLoginActivity.LoggedinHomeActivity" />
        <activity android:name=".AccActivity.SignupActivity" />
        <activity android:name=".AccActivity.LoginActivity" />
        <activity
            android:name=".AccActivity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>